<header class="header">
    <div class="container">
        <nav class="header__nav">
            <a href="" class="header__logo">logo</a>
            <ul class="header__list">
                <li><a href="" class="header__link">home</a></li>
                <li><a href="" class="header__link">home</a></li>
                <li><a href="" class="header__link">home</a></li>
                <li><a href="" class="header__link">home</a></li>
                <li><a href="" class="header__link">home</a></li>
            </ul>
        </nav>
    </div>
</header>